{% extends "base.html" %}
{% block content %}

	<body class="achievements">
		<h1 class="page">ACHIEVEMENTS</h1>
		<h2 class="page">THINGS I'VE DONE IN LIFE</h2>
		
		<div class="progress">
		  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</body>
{% endblock %}