{% extends "base.html" %}
{% block content %}
	<body class="addsched">
		<h1 class="page">ADD SCHEDULE</h1>
		<section name="form">
			<form id="form" method="POST" action="{% url 'addschedule' %}">         
				{% csrf_token %}         
				{{ schedule_form.as_p }}         
				<br>         
				<button type="submit" class="btn btn-default">Submit</button>     
			</form> 
		</section> 
	</body>
{% endblock %}