{% extends "base.html" %}
{% block content %}

	<body class="contacts">
		<h1 class="page">GET IN TOUCH</h1>
		<h2 class="page">MY CONTACTS</h2>

		<h4>Click the button below to contact me: </h4>
		<a href="/mysite/form" type="button" class="btn btn-light">Click Me!</a>

		<div class="progress">
		  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</body>
{% endblock %}