{% extends "base.html" %}
{% block content %}
	<body class="exp">
		<h1 class="page">EXPERIENCES</h1>
		<h2 class="page">MY HISTORY THROUGHOUT THE YEARS</h2>

		<div class="progress">
		  <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</body>
{% endblock %}
