{% extends "base.html" %}
{% block content %}
	<body class="form">

		<div class="container">
		  <h1 class="header">Please fill the form below</h1>
		
		  <form>
		    <div class="form-group">
		      <label for="usr">Name:</label>
		      <input type="text" class="form-control" id="usr" placeholder="Enter your name">
		    </div>

		    <label for="basic-url">Birth date: </label>
		    <div class="form-group">
		      <input type="date" class="form-control" id="usr" placeholder="Enter your birth date">
		    </div>

		    <label for="basic-url">Email:</label>
			<div class="input-group mb-3">
			  <input type="text" class="form-control" placeholder="Enter your email" aria-label="email" aria-describedby="basic-addon2">
			  <div class="input-group-append">
			    <span class="input-group-text" id="basic-addon2">@example.com</span>
			  </div>
			</div>

		    <div class="form-group">
		      <label for="usr">Username:</label>
		      <input type="text" class="form-control" id="usr" placeholder="Enter your username">
		    </div>

		    <div class="form-group">
		      <label for="pwd">Password:</label>
		      <input type="password" class="form-control" id="pwd" placeholder="Enter your password">
		    </div>

		    <div class="form-group">
		      <label for="pwd">Password Confirmation:</label>
		      <input type="password" class="form-control" id="pwd" placeholder="Confirm your password">
		    </div>
		  </form>
		</div>
	</body>
{% endblock %}