<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% load static %}
		<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href={% static "css/myCSS.css" %}>

		<title>salsahava</title>
	</head>

	<body class="home">
		<h1 class="greeting">WELCOME</h1>

		<div class="position">
			<a href="/mysite/profile" class="material-icons md-72">arrow_drop_down</a>
		</div>
	</body>
</html>