{% extends "base.html" %}
{% block content %}
	<body class="profile">
		<h1 class="page">PROFILE</h1>
		<h2 class="page">HELLO! I'M SALSA HAVA</h2>

		<div class="img">
            {% load static %}
			<img src={% static "images/image1.png" %} alt="My picture" width="250" height="250">
		</div>

		<div class="desc">
			<p class="q">Nama: </p>
			<p class="answ">Salsabila Hava Qabita</p>
			<p class="q">Tanggal Lahir: </p>
			<p class="answ">08 Januari 2000</p>
			<p class="q">Lokasi: </p>
			<p class="answ">Jakarta, Indonesia</p>
			<p class="q">Universitas: </p>
			<p class="answ">Universitas Indonesia</p>
		</div>

		<div class="about me">
			<p class="q">Tentang Saya: </p>
			<p class="answ">Saya  merupakan mahasiswa Ilmu</p>
			<p class="answ">Komputer di Universitas Indonesia.</p>
			<p class="answ">Saya adalah seorang INFJ yang </p>
			<p class="answ">open-minded. Beberapa hal yang saya</p>
			<p class="answ">sukai: musik, film, tv shows, mobil,</p>
			<p class="answ">membicarakan isu sosial, dan<span> programming.</p>
		</div>

		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
    </body>    
    {% endblock %}