{% extends "base.html" %}
{% block content %}
	<body class="sched">
		<h1 class="page">SCHEDULE</h1>
		<h2 class="page">MY ACTIVITIES</h2>

		<table class="table">     
			<thead>        
				<th>Activity</th>         
				<th>Place</th>         
				<th>Day</th>         
				<th>Date</th>
				<th>Time</th>
				<th>Category</th>     
			</thead>

			<tbody>
				{% for i in schedule %} 
				<tr>
				<td> {{i.activity}} </td>            
				<td> {{i.place}} </td>             
				<td> {{i.day}} </td>             
				<td> {{i.date}} </td>
				<td> {{i.time}} </td>
				<td> {{i.category}} </td> 
				</tr>
				{% endfor %}  
			</tbody>
		</table>

		<form id="form" method="POST" action="{% url 'schedule' %}">         
			{% csrf_token %}                
			<button type="deleteall" class="btn btn-default">Delete All</button>    
		</form>  
	</body>
{% endblock %}