{% extends "base.html" %}
{% block content %}

	<body class="skills">
		<h1 class="page">SKILLS</h1>
		<h2 class="page">MY SPECIAL ABILITIES</h2>

		<div class="progress">
		  <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</body>
{% endblock %}