.home {
    background: url("../images/Homepage 1.png");
	min-height: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: repeat-x;
}

.greeting {
	letter-spacing: 50px;
	font-size: 80px;
	height: 90%;
	width:100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	color: #47525E;
	font-family: "Arvo";
}

.profile {
	background: #0896A1;
}

.profile, .exp, .skills, .achievements, .contacts, .form {
	margin: 25px 50px 75px 50px;
	position: relative;

}

.page {
	position: relative;
}

.img {
	display:inline-block; 
	position: fixed;
	top: 50%;
    left: 50%;
    margin-top: -125px; 
    margin-left: -125px;
}

h1 {
	color: #343F4B;
	font-size: 45px;
	font-family: "Lato";
	text-align: center;
	margin-top: 60px;
	font-weight: bold;
}

h2 {
	color: white;
	font-size: 19px;
	font-family: "Lato";
	text-align: center;
	font-weight: : bold;
}

.desc {
	font-family: "Lato";
	line-height: 0.7;
	position: fixed;
	left: 370px;
	top: 270px;
}

.q {
	color: #343F4B;
	font-weight: bold;
}

.answ {
	color: white;
}

.about.me {
	font-family: "Lato";
	line-height: 0.7;
	position: fixed;
	left: 1000px;
	top: 270px;
}

.position {
	position: relative;
}

.material-icons.md-72 {
	font-size: 72px;
	color: #343F4B;
	position: fixed;
	bottom: 0px;
	left: 720px;
}

.material-icons.md-36.md-dark {
	font-size: 36px;
	color: white;
	position: absolute;
	top: -100px;
	right: 0px;
}

.carousel-control-prev, .carousel-control-next {
	color: #343F4B;
	background-image: none;
	position: fixed;
}

.btn-toolbar {
	position: fixed;
	bottom: 70px;
	left: 450px;
}

.col-sm-6 {
	width: 50px;
}

.btn.btn-secondary {
	background: #343F4B;
}

.progress {
	border-radius: 0rem;
	position: absolute;
	bottom: -570px;
	width: 100%;
}

.progress-bar {
	background: #8190A5;
	width: 20%;
	position: relative;
}

.exp {
	background: #969FAA;
}

.skills {
	background: #510049;
}

.achievements {
	background: #721315;
}

.contacts {
	background: #5A6978;
}

h4 {
	text-align: center;
}

.btn.btn-light {
	position: fixed;
	bottom: 500px;
	left: 720px;
}

.header {
	color: black;
	font-size: 40px;
	font-family: "Lato";
	text-align: center;
	font-weight: : bold;
}

.form {
	background: grey;
}