<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href={% static "css/myCSS.css" %}>
        
        <title>salsahava</title>
    </head>
    
    <body>
        <div class="position">
			<i href="/mysite/homepage" class="material-icons md-36 md-dark">home</i>
		</div>

		{% block content %}
        {% endblock %}
    
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			<div class="btn-group mr-4" role="group" aria-label="first">
				<a href="/mysite/profile" type="button" class="btn btn-secondary">PROFILE</a>
			</div>
			<div class="btn-group mr-4" role="group" aria-label="second">
				<a href="/mysite/experiences" type="button" class="btn btn-secondary">EXPERIENCES</a>
			</div>
			<div class="btn-group mr-4" role="group" aria-label="third">
				<a href="/mysite/skills" type="button" class="btn btn-secondary">SKILLS</a>
			</div>
			<div class="btn-group mr-4" role="group" aria-label="fourth">
				<a href="/mysite/achievements" type="button" class="btn btn-secondary">ACHIEVEMENTS</a>
			</div>
			<div class="btn-group mr-4" role="group" aria-label="fifth">
				<a href="/mysite/contacts" type="button" class="btn btn-secondary">GET IN TOUCH</a>
			</div>
			<div class="btn-group mr-4" role="group" aria-label="sixth">
				<a href="/mysite/schedule" type="button" class="btn btn-secondary">SCHEDULE</a>
			</div>
			<div class="btn-group mr-4" role="group" aria-label="seventh">
				<a href="/mysite/addschedule" type="button" class="btn btn-secondary">ADD SCHEDULE</a>
			</div>
		</div>
	</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	{% block jquery %}
	{% endblock %}
</html>